---
# tasks file for ottar63.docker
    - name: Install prereq
      apt:
        pkg:
          - apt-transport-https
          - software-properties-common
          - ca-certificates
          - python
          - python-pip
        update-cache: yes

    - name: Add Docker PGP Repo key
      apt_key:
        url: https://download.docker.com/linux/ubuntu/gpg
        state: present

    - name: Add Docker Repo
      apt_repository:
        repo: deb https://download.docker.com/linux/ubuntu bionic stable
        update_cache: yes

    - name:  Install docker
      apt:
        pkg:
          - docker-ce
          - docker-ce-cli
          - containerd.io

    - name: Add user to docker group
      command:
        "usermod -aG docker {{docker_user}}"

    - name: Create ssh keys on node master
      openssh_keypair:
        path: ./.ssh/id_rsa
        owner: "{{docker_user}}"
      when: ansible_host == "master"
      become_user: "{{docker_user}}"
      register: ssh_key

    - name: add keys to nodes
      authorized_key:
        user: "{{docker_user}}"
        state: present
        key: "{{hostvars.master.ssh_key.public_key}}"
      when: ansible_host != "master"


    - name: ignore known_host
      copy:
        dest: /home/{{docker_user}}/.ssh/config
        content: |
            Host node1
              StrictHostKeyChecking no
              UserKnownHostsFile=/dev/null
            Host node2
              StrictHostKeyChecking no
              UserKnownHostsFile=/dev/null
        owner: "{{docker_user}}"

    - name: Start docker
      service: 
        name: docker
        state: started
